<div class="form-detail-order">
    <form action="/addPesanan" method="post">
        <div class="detailTukang  col">
            <div class="listtukangCol col-lg-3 text-center text-black">
                <div class="listtukangContent oderTukang ">
                    <img class="rounded-circle" src="img/man.png" width="140" height="140" alt="" />
                    <h3 class="listtukangContentTitle fw-normal" class="fw-normal">
                        <%= data.name %>
                    </h3>
                    <p>
                        <%= data.address %>
                    </p>
                    <p>
                        <%= data.phone %>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-order">
                <form>
                    <div>
                        <p>Alamat</p>
                        <div class="user-address">
                            <i title="icon-location" class="fa-solid fa-location-dot"></i>
                            <p class="user-location">
                                <%= token.address %>
                            </p>
                        </div>
                    </div>

                    <div id="map">

                    </div>

                    <div>
                        <p>Kategori Layanan: Servis <%= data.service %>
                        </p>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Deskripsi</label>
                        <input name="description" type="description" class="form-control" id="description" />
                    </div>

                    <div>
                        <p>Pembayaran</p>
                        <div class="payment">
                            <div class="row mb-3">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Metode Pembayaran</label>
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Disabled select example" disabled>
                                        <option selected>OVO</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="detail-payment">
                            <label for="exampleInputEmail1" class="form-label">Total Pembayaran: </label>
                            <input disabled type="text" class="form-control" id="exampleInputEmail1"
                                value="Rp. 500.000" />
                            <input name="payment" value="500.000" type="hidden" />
                        </div>

                        <input name="address" value="<%= token.address %>" type="hidden" />
                        <input name="service_category" value="<%= data.service %>" type="hidden" />
                        <input name="id_tukang" value="<%= data.id %>" type="hidden" />
                        <input name="id_users" value="<%= token.id %>" type="hidden" />

                        <button type="submit" class="btn btn-primary btn-order"
                            style="background-color: rgba(209, 49, 49, 0.856)">Pesan Sekarang</button>
                </form>
            </div>
        </div>
    </form>
</div>
<script>
    x = navigator.geolocation;

    x.getCurrentPosition(succsess, failure);

    function succsess(position) {
        var myLat = position.coords.latitude;
        var myLong = position.coords.longitude;

        var coords = new google.maps.LatLng(myLat, myLong);

        var mapOptions = {
            zoom: 8,
            center: coords,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
        };

        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        var marker = new google.maps.Marker({ map: map, position: coords });
    }

    function failure() { }
</script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8Y5yJFQdpMTrI38YH5TEfPfArVMCTGvE&callback=initMap&v=weekly"
    type="text/javascript"></script>