<div class="user-purchase">
    <h3>Pesanan Saya</h3>

    <hr />

    <div class="menu-purchased">
        <ul class="nav d-flex justify-content-evenly purchased-ul">
            <li class="nav-item purchased-list list-active" style="list-style: none">
                <a class="nav-link" href="/pesananSaya/Belum_Dibayar">Belum Bayar</a>
            </li>
            <li class="nav-item purchased-list" style="list-style: none">
                <a class="nav-link" href="/pesananSaya/Diproses">Diproses</a>
            </li>
            <li class="nav-item purchased-list" style="list-style: none">
                <a class="nav-link" href="/pesananSaya/Selesai">Selesai</a>
            </li>
            <li class="nav-item slide" style="list-style: none"></li>
        </ul>
    </div>

    <hr />
    <% data.forEach(element=> { %>
        <div class="purchased">
            <h4>Servis <%= element.service_category %>
            </h4>
            <div class="test">
                <div class="data-patner">
                    <img class="rounded-circle" src="img/man.png" width="80" height="80" alt="" />
                    <p>
                        <%= element.tukang.name %>
                    </p>
                </div>

                <div class="detail-purchase">
                    <h5>Detail Pesanan</h5>
                    <div>
                        <p>Alamat</p>

                        <div class="user-address">
                            <i title="icon-location" class="fa-solid fa-location-dot"></i>
                            <p class="user-location">
                                <%= element.address %>
                            </p>
                        </div>
                    </div>

                    <p>Deskripsi : <%= element.description %>
                    </p>
                </div>
            </div>

            <div class="order-payment d-flex justify-content-end">
                <p class="payment-title ">Total Pembayaran: Rp. <%= element.payment %>
                </p>
                <% if (element.status=='Belum_Dibayar' ) { %>
                    <a type="button" href="/updatePesanan/Diproses/<%= element.id %>" class="btn text-white btn-pay"
                        style="background-color: rgba(209, 49, 49, 0.856)"> Bayar Sekarang </a>
                    <% } %>
                        <% if (element.status=='Diproses' ) { %>
                            <a type="button" href="/updatePesanan/Selesai/<%= element.id %>"
                                class="btn text-white btn-pay" style="background-color: #3f682c"> Pesanan Selesai </a>

                            <% } %>
                                <% if (element.status=='Selesai' ) { %>
                                    <a type="button" href="/feedbacks/<%= element.id_tukang %>"
                                        class="btn text-white btn-pay" style="background-color: #946917"> Beri Penilaian
                                    </a>

                                    <% } %>
            </div>
        </div>
        <% }) %>
</div>
</div>